@import "./reset.scss";
@import "../styles/variables/global.scss";
@import "../styles/themes/dark.scss";
@import "../styles/themes/normal.scss";

.app {
  font: var(--font-m);
  // font-size: var(--font-size-m);
  // font-family: var(--font-family-main);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}
.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
