@import "./reset.scss";
@import "../styles/variables/global.scss";
@import "../styles/themes/dark.scss";
@import "../styles/themes/normal.scss";

.app {
  font-size: var(--font-m);
  // background-color: rgb(134, 122, 222);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
